/* Box sizing rules */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  height: auto;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  background: #292e36;
  padding-top: 50px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: solid 2px #5c6168;
}

.header_top a {
  display: block;
}

.header_top .header_link {
  color: #fff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border: 2px solid #e1b168;
  letter-spacing: 0.2px;
  display: block;
  max-width: 295px;
  text-align: center;
  padding: 20px 10px;
}

.header_top .header_link:hover {
  background-color: #a67b39;
  color: #fff;
  transition: all 0.3s ease;
}

.header_img {
  max-width: 378px;
}

.res_btn {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: block;
  max-width: 295px;
  letter-spacing: 0.44px;
  padding: 20px 50px;
  color: #292e36;
  background: #e1b168;
}

.res_btn:hover {
  background-color: #a67b39;
  transition: all 0.3s ease;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 26px 0;
}

.nav_menu {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav_link {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}

.nav_link.active {
  color: #e1b168;
}

.nav_link:hover {
  color: #e1b168;
  transition: all 0.3s ease;
}

.welcome_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.welcome_block img {
  max-width: 655px;
}

.welcome_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  letter-spacing: 0.2px;
  color: #fff;
}

.welcome_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.2px;
  margin-top: 26px;
  color: #fff;
}

.welcome_btn {
  display: block;
  border: 2px solid #e1b168;
  color: #e1b168;
  max-width: 230px;
  padding: 20px 57px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin-top: 55px;
  text-align: center;
  letter-spacing: 0.2px;
}

.welcome_btn:hover {
  background-color: #a67b39;
  color: #fff;
  transition: all 0.3s ease;
}

.about_wrapper {
  display: flex;
  margin-top: 100px;
  gap: 15px;
  background: #fff8f5;
  padding-bottom: 60px;
  padding-top: 99px;
  flex-wrap: wrap;
}

.about_img {
  background: #292e36;
  border-radius: 50%;
  padding: 15px;
  max-width: 83px;
  max-height: 83px;
  height: 100%;
}

.about_img.vector {
  padding: 22px;
  margin-top: 15px;
}

.about_item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 428px;
}

.about_item:nth-child(2) {
  margin-right: 60px;
}

.about_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  color: #292e36;
}

.about_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 0.2px;
  max-width: 400px;
  color: #555555;
}

.delicious {
  display: flex;
  gap: 45px;
  padding-top: 80px;
  background: #fff8f5;
  padding-bottom: 125px;
}

.dilicious_img {
  max-width: 743px;
}

.dilicious_img img {
  width: 100%;
}

.delicious_text-block {
  max-width: 559px;
}

.delicious_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  /* identical to box height, or 140% */
  letter-spacing: 0.2px;
  color: #292e36;
}

.delicious_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  margin-top: 15px;
  letter-spacing: 0.2px;
  color: #555555;
}

.delicious_text-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.josefine_img {
  margin-top: 20px;
  max-width: 200px;
}

.menu_wrapper {
  display: flex;
  gap: 50px;
}

.menu_leftBlock {
  max-width: 491.25px;
}

.menu_leftBlock .menu_main {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 150% */
  margin-bottom: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 141px;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding: 4px 0;
}

.menu_leftBlock img {
  margin-top: 38px;
}

.menu_link {
  display: inline-block;
  border: 1px solid #e1b168;
  color: #e1b168;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.2px;
  padding: 20px 57px;
  margin-top: 80px;
}

.menu_link:hover {
  background: #e1b168;
  color: #292e36;
  transition: all 0.2s ease;
}

.menu_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
}

.menu_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin-top: 24px;
}

.menu_rightBlock {
  max-width: 818.75px;
  width: 100%;
}

.menu_rightBlock .menu_main {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-top: 174px;
  letter-spacing: 0.2px;
  color: #292e36;
}

.menu_rightBlock .menu_main2 {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-top: 174px;
  letter-spacing: 0.2px;
  margin-top: 74px;
  color: #292e36;
}

.menu_dish {
  display: flex;
  align-items: center;
  margin-top: 49px;
}

.menu_dish .price {
  align-self: flex-end;
}

.menu_dish:last-child {
  margin-bottom: 200px;
}

.dish_img {
  max-width: 84px;
}

.dish_wrapper {
  margin-left: 24px;
  max-width: 389.41px;
  width: 100%;
  align-self: flex-end;
}

.dish_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  color: #292e36;
}

.dish_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 0.2px;
  color: #555555;
}

.dish_line {
  max-width: 259.73px;
  width: 100%;
  height: 2px;
  background: #aaaaaa;
  align-self: flex-end;
}

.offer_wrapper {
  text-align: center;
}

.offer_top {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding: 4px 0;
}

.offer_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 15px;
  color: #292e36;
  line-height: 58px;
}

.offer_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
  margin-top: 8px;
  color: #555555;
}

.offer_dishes {
  display: flex;
  margin-top: 58px;
  gap: 30px;
  margin-bottom: 30px;
}

.offer_dishItem {
  max-width: 665px;
  max-height: 409px;
  display: flex;
  align-items: center;
  padding: 55px 40px 50px 30px;
  background: url(../img/offer/backg.png) center center/cover no-repeat;
}

.offer_dishItem2 {
  max-width: 665px;
  max-height: 409px;
  display: flex;
  align-items: center;
  padding: 55px 40px 50px 30px;
  background: url(../img/offer/backg2.png) center center/cover no-repeat;
}

.dish_info .offer_top {
  border-top: 1px solid #292e36;
  border-bottom: 1px solid #292e36;
  margin-top: 39px;
}

.offer_price {
  display: block;
}

.offer_img {
  max-width: 325px;
  width: 100%;
}

.popular_dishes {
  margin-top: 125px;
}

.popular_dishes .menu_link {
  margin: 65px auto 140px;
  max-width: 255px;
  display: block;
}

.popular_dishes .menu_link:hover {
  background: #e1b168;
  color: #292e36;
  transition: all 0.2s ease;
}

.popular_wrapper {
  display: flex;
  gap: 29px;
  margin-top: 30px;
}

.popular_item {
  max-width: 317.5px;
}

.popular_img {
  width: 100%;
}

.popular_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292e36;
  margin-top: 9px;
}

.popular_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin-top: 15px;
}

.blog .offer_wrapper {
  margin-top: 140px;
  max-width: 465px;
  margin-inline: auto;
}

.blog_wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 150px;
}

.blog_item {
  max-width: 640px;
  margin-top: 40px;
  border: 1px solid #c4c4c4;
}

.blog_img {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.blog_img .blog_link {
  position: absolute;
  z-index: 10;
  display: block;
  max-width: 227px;
  background: #e1b168;
  color: #292e36;
  padding: 20px 57px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.44px;
  left: 33%;
  top: 38%;
}

.blog_img .blog_link:hover {
  background: #a67b39;
  transition: all 0.3s ease;
}

.blog_info {
  display: flex;
  gap: 30px;
  margin-top: 57px;
}

.blog_top {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  margin-left: 46px;
}

.blog_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
  margin-top: 25px;
  margin-left: 46px;
}

.blog_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin-top: 24px;
  margin-left: 46px;
  max-width: 547px;
  margin-bottom: 38px;
}

.reservation {
  max-height: 977px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/reservation.png) center center/cover no-repeat;
}

.reservation_form {
  display: block;
  max-width: 920px;
  background: rgba(41, 46, 54, 0.95);
  max-height: 697px;
  height: 100vh;
  width: 100vw;
  padding-top: 140px;
  padding-bottom: 140px;
}

.form_title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #e1b168;
  border-top: 1px solid #e1b168;
  color: #fff;
  max-width: 143px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
}

.form_subtitle {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 12px;
}

.form_wrapper {
  margin-top: 38px;
  max-width: 640px;
  margin-inline: auto;
}

.reserv_input {
  border: 1px solid #858585;
  border-radius: 0px;
  max-width: 307px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  padding: 18px 23px;
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input2 {
  max-width: 195px;
  border: 1px solid #858585;
  border-radius: 0px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  padding: 18px 23px;
  display: inline-block;
  margin-top: 30px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input2::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input2::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input3 {
  max-width: 195px;
  border: 1px solid #858585;
  border-radius: 0px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  padding: 18px 23px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 21px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input3::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_input3::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reserv_btn {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  background: #fff;
  display: block;
  padding: 23px 54px;
  margin: 43px auto 167px;
}

.reserv_btn:hover {
  background: #e1dada;
  transition: all 0.3s ease;
}

.footer {
  background: #292e36;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 129px;
}

.ftop_text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #fff;
}

.ftop_inst {
  max-width: 184px;
  max-height: 44px;
  margin-right: 23px;
}

.footer_wrapper {
  display: flex;
  padding-bottom: 35px;
  justify-content: space-between;
}

.footer_contact {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #e1b168;
  border-top: 1px solid #e1b168;
  color: #fff;
  max-width: 143px;
  display: inline-block;
  text-align: center;
  padding: 2px 0;
}

.footer_subtext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-top: 33px;
}

.footer_subtext a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #e1b168;
}

.footer_subtext span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #e1b168;
}

.footer_input {
  position: relative;
  display: block;
}

.footer_input button {
  position: absolute;
  max-width: 208px;
  max-height: 68px;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: #ffffff;
  border-radius: 0px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}

.footer_input button:hover {
  background: #d4d0d0;
  transition: 0.3s all ease;
}

.finput {
  border: 1px solid #858585;
  border-radius: 0px;
  max-width: 664px;
  max-height: 70px;
  width: 100vw;
  height: 100vh;
  padding: 18px 23px;
  display: block;
  margin-left: 10px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 25px;
}

.finput::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.finput::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.fcenter {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.what_offer {
  background: #292e36;
}

.what_wrapper {
  display: flex;
  align-items: center;
  padding: 140px 40px;
  gap: 100px;
}

.what_wrapper .offer_wrapper {
  text-align: start;
  max-width: 448px;
}

.what_wrapper .offer_wrapper .offer_top {
  color: #fff;
}

.what_wrapper .offer_wrapper .offer_text {
  color: #fff;
  font-size: 40px;
}

.what_wrapper .offer_wrapper .offer_subtext {
  color: #fff;
  font-size: 20px;
}

.what_list {
  display: flex;
  gap: 30px;
}

.what_item-block {
  max-width: 254px;
  max-height: 235px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 20px solid #323841;
}

.what_text {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.2px;
  margin-top: 15px;
  color: #fff;
}